main {
    justify-content: space-around;
}

/* Contact info */

.contact-field {
    background-color: #FFE7FF;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
}

.social-left, .social-right {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: #ced4da;
    border-radius: 0.5em;
    border-width: 0.05em;

    padding: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.social-left {
    img {
        width: 3em;
        height: 3em;
        margin-top: 0.3em;
        margin-right: 1em;
    }
}

.social-right {
    img {
        width: 3em;
        height: 3em;
        margin-top: 0.3em;
        margin-left: auto;
        margin-right: 0.1em;
    }
}

p {
    margin: 0;
}



/* Contact Form */

.contact-form {
    max-width: 25em;
    margin:  1em;
    padding: 1em;
    background-color: #ffffff;
    border: 0.1em solid #dee2e6;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
    text-align: center;
    margin-bottom: 0.4em;
    color: #343a40;
}
.form-group {
    margin-bottom: 0.8em;
}
.form-group label {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
}
.form-group input, 
.form-group textarea, 
.form-group select {
    width: 100%;
    padding: 0.2em;
    border: 0.1em solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}
.form-group textarea {
    resize: none;
    height: 150px;
}
.form-group button {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: #28a745;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #218838;
}