main {
    background-color: #EF0993;
    height: auto;
    width: 100vw;

    flex: 1;

    display: flex;
    align-items: start;
    justify-content: center;
}

a {
    color: #fcbbe2;
}

a:hover {
    color: white;
}