main {
    background-color: #EF0993;
    height: auto;
    width: 100vw;
    display: flex;
}

#main-about {
    width: auto;
    min-width: 30em;
    padding: 2em;
    margin-right: 2em;
}

.italic {
    font-size: 1.2em;
}

#this-month {
    background-color: white;
    width: 15em;
    margin-left: auto;
    margin-right: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1em 1em 0 0;
}

#this-month img {
    width: 15em;

    border-radius: 1em 1em 0 0;
}

#month-text {
    margin-top: 0.8em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#this-month p {
    font-size: 1em;
}

@media (min-width: 992px) {
    main {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}